


#app {
    background-image: url('https://www.wsupercars.com/wallpapers-regular/Formula-1/Red-Bull-Racing/2022-Formula1-Red-Bull-Racing-RB18-003-2160.jpg');
    background-size: cover;
    background-position: center;
  }
  