/* Estilos generales */
body {
    background-color: #f1f1f1;
    color: #333;
    font-family: Arial, sans-serif;
    
  }
  
  .card {
    background-color: #110c0c;
    border-radius: 8px;
    border-color: #f1251e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    align-content: flex-end;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 10px;

  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  button {
    background-color: #f1251e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fc1f0f;
  }
  
  /* Estilos específicos */
  .divPadre {
    text-align: center;
    background-image: url("../imagenes/autogif.gif");

  }
  
  .column {
    display: contents;
    flex-direction: column;

  }
  
 .errors {
    color: red;
    font-size: small;
    font-style: italic;

 }

 .disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Teams */
.teamsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamsList > div {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.teamsList p {
  margin-right: 5px;
}

.teamsList button {
  background-color: transparent;
  border: none;
  color: #ff2600;
  cursor: pointer;
}
